{% extends 'base.html' %}

{% block title %}
<title>Event Listing</title>
{% endblock title %}

{% block content %}
  <table border=1px align=center>
    <tr>
      <td><b>Name</b></td>
      <td><b>Location</b></td>
      <td><b>Description</b></td>
    </tr>

  {% for event in events %}
    <tr>
      <td><a href="/event/{{event.id}}">{{event.name}}</a><br></td>
      <td>{{event.location}}</td>
      <td width = 300>{{event.description}}</td>
    </tr>
  {% endfor %}

  </table>
{% endblock content %}
